.navbar, footer {
    background-color: #ccd9de;
}
.card {
    border: 2px solid #000;
}
.card-img-top {
    border-bottom: 1px solid #000;
}

.carrosel{
    height: 60vh;
    object-fit: cover;
}
.carrosel-letras{
    height: 60%;
}

.logo{
    height: 25px;
}
 
footer{
    height: 10vh;
}

.footer-img{
    width: 30px;
    gap: 5px;
    
}

/* .form{
    width: 50%;
    gap: 5px;
    align-items: center;
} */